@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Black";
  src: url("/fonts/Inter/Inter-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: "Inter", serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

input[type=checkbox] {
  width: min-content;
}

select, input {
  background: #E6E8EA;
  padding: 15px;
  border: none;
  border-radius: 5px;
  //width: 100%;
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
}

select:last-child, input:last-child {
  margin-bottom: 0;
}

input[type="submit"] {
  background: #121212;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #3b3b3b;
}

form {
  display: flex;
  flex-direction: column;
}

.transfer-form {
  box-shadow: 0 0 20px 1px #0000002e;
  margin: 15px auto 0 auto;
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  gap: 20px;
}

.main-block-header {
  margin: 25px 0;
}

.all-funds {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  width: fit-content;
  user-select: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

//Skeleton
.skeleton {
  position: relative;
  cursor: default;
}

.skeleton::after {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 40%, #DDDDDD 50%, #DDDDDD 55%, #ffffff 65%, #ffffff 100%);
  background-size: 400%;
  animation: skeleton 1500ms infinite;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}

@keyframes skeleton {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}